<footer id="footer">
  <div class="container">
    <div class="col-md-3 col-sm-6">
      {% include footer/about-us.html %}
    </div>
    <div class="col-md-3 col-sm-6">
      {% assign featured_posts = site.posts | where: "featured", true %}
      {% include footer/blog-posts.html posts = featured_posts %}
    </div>
    <div class="col-md-3 col-sm-6">
      {% include footer/contact.html %}
    </div>
    <div class="col-md-3 col-sm-6">
      {% include footer/photostream.html photos = site.photostream %}
    </div>
  </div>
</footer>