<li class="dropdown use-yamm yamm-fw">
  {% assign menu = include.menu %}
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ menu[0] }} <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li>
      <div class="yamm-content">
        <div class="row">
          <div class="col-sm-6">
              {% capture img_src %}{{ menu[1].img }}{% endcapture %}
            <img src="{% include link.html link = img_src %}" class="img-responsive hidden-xs" alt="">
          </div>
          {% for menu_column in menu[1].sub %}
          <div class="col-sm-3">
            {% for submenu in menu_column %}
            <h5>{{ submenu[0] }}</h5>
            <ul>
              {% for item in submenu[1] %}
              {% capture url %}{{ item[1] }}{% endcapture %}
              <li><a href="{% include link.html link = url %}">{{ item[0] }}</a></li>
              {% endfor %}
            </ul>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </li>
  </ul>
</li>